<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.orangeapplock">

    <uses-permission android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrangeApplock">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.server.ServerHomeUI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.server.ServerListUI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.server.ResultUI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.HomeUI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.applock.EnterPwdUI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.applock.AppLockHomeUI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.SetUI"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.PolicyUI"
            android:screenOrientation="portrait"/>

        <service android:name=".service.AppLockServers"
            android:exported="true">
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />
    </application>

</manifest>